.users-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 0;
}
.user-item{
    border:1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;

}